#plateau {
  border-collapse:collapse;
  border:1px solid #000000;
}

#plateau td {
    width: 2cm;
    height: 2cm;
    margin: 0px;
    padding: 0px;
    border:1px solid #000000;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
}

#plateau td.select {
  border:2px solid #000000;
}

#Overlay
{
  visibility: hidden;
  position: absolute;
  left: 190px;
  top: 220px;
  width: 300px;
  height: 200px;
  text-align:center;
  border: solid;
  background-color: SandyBrown;
}
