#jeu {
    text-align: center;
}


#grille, #plateau {
    border-collapse: collapse;
    border: 1px solid #000000;
    margin: 0 auto;
}

#plateau td, #grille td {
    width: 2cm;
    height: 2cm;
    margin: 0px;
    padding: 0px;
    border: 1px solid #000000;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    background-color: white;
}

#plateau td.select {
    border: 2px solid #000000;
}

#scores {
    margin: 20px auto;
    overflow: hidden;
    max-width: 20cm;
    border: 1px dashed;
    padding: 10px;
}
#scores > div {
    float:left;
    width:50%;
    box-sizing: border-box;
}


#scores > div:first-child {
    text-align: right;
    padding-right:40px;
}
#scores > div:last-child {
    padding-left:40px;
    text-align: left;
}

#scores img,
#scores span {
    display: inline-block;
    vertical-align: middle;
}

#scores img + span,
#scores span + span {
    margin-left:10px;
}

#fightDialog
{
  visibility: hidden;
  position: absolute;
  left: 390px;
  top: 220px;
  width: 300px;
  height: 200px;
  text-align:center;
  border: solid;
  background-color: PaleGoldenRod;
}

#infoWindow
{
  visibility: hidden;
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 26px;
  font-weight: bold;
  position: absolute;
  left: 390px;
  top: 220px;
  width: 400px;
  height: 120px;
  text-align:center;
  border: solid;
  background-color: PaleGreen;
}
